<h1>REALTY-SYSTEM</h1>
<p>Find me in app/views/realty/index.html.erb</p>

<ul>
	<li><%= link_to "Provice", provinces_path %></li>
	<li><%= link_to "District", '/districts/index' %></li>
	<li><%= link_to "Communce" %></li>
</ul>
