<p>
  <strong>Name:</strong>
  <%= @district.dis_name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @district.note %>
</p>

<p>
  <strong>InProvince:</strong>
  <%= @district.province_id %>
</p>
 
 
<%= link_to 'Back', districts_path %>